In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect("mydb.db")

In [3]:
connection

In [4]:
table_create_query = """
create table if not exists employee (
employee_id integer primary key autoincrement,
first_name text not null,
last_name text not null,
email text not null unique,
phone text not null unique,
salary real not null,
hire_date text not null
)
"""

In [5]:
table_create_query2 = """
create table if not exists customers (
customer_id integer primary key autoincrement,
first_name text not null,
last_name text not null,
email text not null unique,
phone text not null unique
)
"""

In [6]:
table_create_query3 = """
create table if not exists orders (
order_id integer primary key autoincrement,
customer_id integer not null,
order_date text not null,
amount real not null,
foreign key (customer_id) references customers(customer_id)
)
"""

In [7]:
cursor=connection.cursor()

In [8]:
cursor.execute(table_create_query)
cursor.execute(table_create_query2)
cursor.execute(table_create_query3)

In [9]:
insert_employee_query = """
insert into employee (first_name, last_name, email, phone, salary, hire_date) values (?, ?, ?, ?, ?, ?)
"""

insert_customer_query = """
insert into customers (first_name, last_name, email, phone) values (?, ?, ?, ?)
"""
insert_order_query = """
insert into orders (order_id, customer_id, order_date, amount) values (?, ?, ?, ?)
"""

In [10]:
employee_data = [
    ('adarsh', 'cv', 'adarsh.cv@example.com', '123-456-7890', 60000, '2020-01-15'),
    ('mithun', 'm', 'mithun.m@example.com', '987-654-3210', 75000, '2019-03-22'),
    ('darshan', 'naik', 'darshan.n@example.com', '555-123-4567', 80000, '2021-07-30'),
    ('kumar', 'gowda', 'kumar.g@example.com', '444-987-6543', 50000, '2022-11-05')
]

customer_data = [
    ('JOHN', 'DOE', 'john.doe@example.com', '123-456-7890'),
    ('JANE', 'SMITH', 'jane.smith@example.com', '987-654-3210'),
    ('ALICE', 'JOHNSON', 'alice.johnson@example.com', '555-123-4567'),
    ('BOB', 'BROWN', 'bob.brown@example.com', '444-987-6543')
]
order_data = [
    (1, 1, '2023-01-01', 100.50),
    (2, 2, '2023-02-15', 200.75),
    (3, 3, '2023-03-10', 150.00),
    (4, 4, '2023-04-20', 300.25)
]

In [11]:
cursor.executemany(insert_employee_query, employee_data)
cursor.executemany(insert_customer_query, customer_data)
cursor.executemany(insert_order_query, order_data)

In [12]:
connection.commit()

In [26]:
cursor.execute("select * from orders;")
for row in cursor.fetchall():
    print(row)

(1, 1, '2023-01-01', 100.5)
(2, 2, '2023-02-15', 200.75)
(3, 3, '2023-03-10', 150.0)
(4, 4, '2023-04-20', 300.25)